# delka jedne bunky [m]
site_length = 7

# delka trasy [m]
track_length = 5340

# vychozi vozidlo, pokud neni znam typ
# neni typ neni definovan
default_car = 1

# motocykl
car 0:
  # pravdepodobnost zpomaleni
  slowdown_probability = 0.3
  # pravdepodobnost zrychleni
  acceleration_probability = 1
  # maximalni rychlost
  max_speed = 5
  # hranice minimalni rychlosti
  min_speed = 1
endcar

# osobni automobil do 3.5 tuny
car 1
  slowdown_probability = 0.5
  acceleration_probability = 1
  max_speed = 5
  min_speed = 1
endcar

# dodavka do 3.5 tuny
car 2
  slowdown_probability = 0.3
  acceleration_probability = 1 
  max_speed = 4
  min_speed = 1
endcar

# autobus
car 3
  slowdown_probability = 0.5
  acceleration_probability = 1 
  max_speed = 4
  min_speed = 0
endcar

# nakladni vozidlo do 6 tun
car 4
  slowdown_probability = 0.3
  acceleration_probability = 1 
  max_speed = 3
  min_speed = 1
endcar

# nakladni vozidlo nad 6 tun
car 5
  slowdown_probability = 0.5
  acceleration_probability = 1 
  max_speed = 3
  min_speed = 1
endcar

