# delka jedne bunky [m]
site_length = 2.5

# delka trasy [m]
track_length = 5400

# maximalni povolena rychlost 50km/h, 6 bunek/s = 54km/h pokud bunka ma 2.5m
track_max_speed = 6

# vychozi vozidlo, pokud neni znam typ
# neni typ neni definovan
default_car = 1

# motocykl
car 0:
  # pravdepodobnost zpomaleni
  slowdown_probability = 0.3
  # pravdepodobnost zrychleni
  acceleration_probability = 1
  # maximalni rychlost
  max_speed = 5
  # hranice minimalni rychlosti
  min_speed = 1
  length = 2
endcar

# osobni automobil do 3.5 tuny
car 1
  slowdown_probability = 0.5
  acceleration_probability = 1
  max_speed = 5
  min_speed = 1
  length = 3
endcar

# dodavka do 3.5 tuny
car 2
  slowdown_probability = 0.3
  acceleration_probability = 1
  max_speed = 4
  min_speed = 1
  length = 5
endcar

# autobus
car 3
  slowdown_probability = 0.5
  acceleration_probability = 1
  max_speed = 4
  min_speed = 0
  length = 6
endcar

# nakladni vozidlo do 6 tun
car 4
  slowdown_probability = 0.3
  acceleration_probability = 1
  max_speed = 3
  min_speed = 1
  length = 7
endcar

# nakladni vozidlo nad 6 tun
car 5
  slowdown_probability = 0.55
  acceleration_probability = 0.3
  max_speed = 2
  min_speed = 1
  length = 8
endcar

