# Nastaveni simulace

#== generator vozidel ==========================================================

car_factory = 3
# Dostupne generatory:
# 1 - jednoduchy deterministicky generator
scf_interval = 20
# 2 - normalni gaussovo rozlozeni
ncf_mean = 3
ncf_deviation = 2
# 3 - nacita casy vozidel z csv dat z Prahy ve formatu:
# EVCEO-EVVN,20-06-2012 00:18:22,20-06-2012 00:10:12,490,-1,1

# soubor ze ktereho se maji nacitat data, pokud je aktivovan odpovidajici generator
samples_file = data/prague/evropska_all.csv

#== nastaveni simulace =========================================================

# delka simulace v hodinach, pokud se nastavi 0, neni simulace
# omezena casem (pri pouziti csv je ukoncena po projeti vsech aut)
max_time = 0 [h]

#== parametry vozovky ==========================================================

# moznost zapnout periodicke hranicni podminky
periodic_boundary = 0

# site_length - delka jedne bunky [m]
site_length = 0.3

# track_length - delka trasy [m]
track_length = 5350

#== parametry vozidel ==========================================================

# default_car - vychozi typ vozidla, pokud neni znam typ
default_car = 0

# slowdown_probability - pravdepodobnost zpomaleni
# acceleration_probability - pravdepodobnost zrychleni
# max_speed - maximalni rychlost [km/h]
# min_speed - hranice minimalni rychlosti [km/h]
# length - delka vozidla v metrech [m]

# Typ vozidel v datech z ulice Evropska, Praha
# vozidlo 0 bude predstavovat vozidlo neznameho typu
car 0
  slowdown_probability = 0.1
  acceleration_probability = 0.9
  max_speed = 50 [km/h]
  min_speed = 0 [km/h]
  length = 10 [m]
endcar

# 1 - osobni automobil do 3.5 tuny
car 1
  slowdown_probability = 0.2
  acceleration_probability = 0.7
  max_speed = 50 [km/h]
  min_speed = 0 [km/h]
  length = 10 [m]
endcar

# 2 - dodavka do 3.5 tuny
car 2
  slowdown_probability = 0.3
  acceleration_probability = 0.8
  max_speed = 50 [km/h]
  min_speed = 0 [km/h]
  length = 14 [m]
endcar

# 3 - autobus / karosa 11.5m
car 3
  slowdown_probability = 0.35
  acceleration_probability = 0.8
  max_speed = 40 [km/h]
  min_speed = 0 [km/h]
  length = 15 [m]
endcar

# 4 - nakladni vozidlo do 6 tun
car 4
  slowdown_probability = 0.3
  acceleration_probability = 0.8
  max_speed = 40 [km/h]
  min_speed = 0 [km/h]
  length = 15 [m]
endcar

# 5 - nakladni vozidlo nad 6 tun
car 5
  slowdown_probability = 0.4
  acceleration_probability = 0.8
  max_speed = 40 [km/h]
  min_speed = 0 [km/h]
  length = 15 [m]
endcar

#---------------------------------------------------------
#| id    | počet | T[s]  | rychlost[m/s] | rychlost[km/h]|
#---------------------------------------------------------
#| -1    | 24    | 527   |         10.15 |         36.54 |
#| 1     | 3207  | 752   |         7.113 |         25.61 |
#| 2     | 372   | 719   |         7.439 |         26.78 |
#| 3     | 349   | 1072  |          4.99 |         17.96 |
#| 4     | 37    | 938   |         5.703 |         20.53 |
#| 5     | 32    | 886   |         6.037 |         21.73 |
#---------------------------------------------------------
#| all   | 4021  | 816   |        6.9053 |       24.8592 |
#---------------------------------------------------------

#== statistiky =================================================================

# table_format - 1/0 zapne/vypne tabulkovy vypis statistik, ktery je vhodny
# pro dalsi zpracovani, napr. vykresleni grafu
table_format = 1

# stats_frequency - delka casoveho intervalu po kterem se maji vypocitat
# a vytisknout statisticke udaje, v minutach
stats_frequency = 15 [min]

#== rozsireni modelu ===========================================================

# aktivuje rozsireni modelu o Slow-to-Start a Slow-to-Stop pravidla
slow_to_stop = 0

# pokud je aktivovan rozsireny rezim, je treba nastavit pravdepodobnost
# s jakou se maji aplikovat slow to start pravidla (p_slow)
slow_to_start_probability = 0.5

true_slowdown = 1
